.MainCanvas{
    border: 2px solid red;
     width:80vw;
     height:100vw;
     padding: 0px;
     margin: 0px;
     position: absolute;
     left: 0px;
     top: 0px;
     cursor: crosshair;

}

.Controls{
    border: 2px solid red;
    height: 100vw;
    width: 20vw;
    padding: 0px;
    margin: 0px;
}